/* General resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header-content {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    z-index: 1000;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #bc5029;
}


#info {
    font-size: larger;
    color: white;
}

#datos {
    color: white;
}

/* Header */
header {
    text-align: center;
    padding: 1rem;
    background: #94130aeb;
    color: whitesmoke;
    transition: opacity 0.3s ease;
}

header h1 {
    font-family: 'Georgia', serif;
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

/* Navigation */
nav {
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom, #94130aeb, #94130a82);
    padding: 1rem;
    transition: opacity 0.3s ease;
    border-bottom: none;
    box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.5);
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

nav a {
    color: #ebe4ec;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #e4863f
}

/* Carousel */
.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.carousel {
    position: relative;
    width: 100%;
    height: 40em;
    overflow: hidden;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-images img {
    width: 100%;
    display: none;
}

.carousel-images img.active {
    display: block;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    padding: 10px;
    margin-top: -22px;
    color: #d5c0cb;
    font-weight: bold;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


section {
    text-align: center;
}

#generalidades{
    padding: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: whitesmoke;
}

.info-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.info-box {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    width: 250px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.info {
    font-weight: bold;
    margin: 0;
    color: #333;
}

.datos {
    margin: 5px 0;
    color: #555;
}

.info-album {
    padding-top: 20px;
    text-align: center;
}

.spotify-and-text {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    padding-top: 20px;
}

.spotify-player {
    flex: 1;
    max-width: 700px;
    margin-right: 50px;
}

.album-info {
    flex: 2;
    text-align: left;
    max-width: 600px;
    border-radius: 20px;
    background-color: #e2a96c;
    padding: 20px;
    margin-left: 50px;
    margin-bottom: 20px;
}

#albumtext {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    margin-bottom: 10px;
}
